body {
    width: 100%;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
table {
    border-radius: 5px;
    border: 1px solid #000;
}
td, th {
    text-align: center;
    border: 1px solid #000;
}
td {
    padding: 5px;
    /* border-radius: 2px; */
}

.details-container {
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    margin: 0 auto;
}

.control-field {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.control-field:not(:last-child) {
    border-bottom: thin solid #ddd5d5;
}

.control-field label {
    font-weight: 600;
}

.control-field .value {
    
}

.transter-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}
select {
    width: 184px;
}
.logs-container {
    margin: 0 5px 50px 5px;
}
.logs-table {
    overflow-y: auto;
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    margin: 0 auto;
    padding: 20px 0;
}
.logs-table .row {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    padding: 15px;
}
.logs-table .row div {
    flex: 1;
}
.logs-table .row .sent {
    color: red;
}
.logs-table .row .received {
    color: green;
}
.logs-table .row:not(:last-child) {
    border-bottom: thin solid #ddd5d5;
}

.success-msg {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    background-color: green;
    font-weight: 600;
    display: none;
    font-size: 8px;
}

@media (min-width: 768px) {
  .details-container,  .transter-container, .logs-table {
      width: 60%;
  }
  .success-msg {
    font-size: 16px;
  }
}