.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
table {
    border-radius: 5px;
    border: 1px solid #000;
}
td, th {
    text-align: center;
    border: 1px solid #000;
}
td {
    padding: 5px;
    /* border-radius: 2px; */
}

.details-container {
    width: 600px;
    height: 200px;
    border: 1px solid gray;
    margin: 0 auto;
}

.control-field {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.control-field:not(:last-child) {
    border-bottom: thin solid #ddd5d5;
}

.control-field label {
    font-weight: 600;
}

.control-field .value {
    
}

.transter-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}
select {
    width: 184px;
}

.logs-table {
    overflow-y: auto;
    width: 800px;
    height: 200px;
    border: 1px solid gray;
    margin: 0 auto;
    padding: 20px 0;
}
.logs-table .row {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    padding: 15px;
}
.logs-table .row div {
    flex: 1;
}
.logs-table .row .sent {
    color: red;
}
.logs-table .row .received {
    color: green;
}
.logs-table .row:not(:last-child) {
    border-bottom: thin solid #ddd5d5;
}